.page-container {
  position: relative;
  overflow: hidden;
  height: calc(100vh + env(safe-area-inset-top) + env(safe-area-inset-bottom));
  width: calc(100vw + env(safe-area-inset-left) + env(safe-area-inset-right));
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
  font-family:"Elianto";
  overflow-y: auto;
  max-height: 100vh;
}
.fade-out {
  opacity: 0;
  transition: opacity 1s ease-out;
}

a {
  text-decoration: none;
  color: white !important;
}

a:hover {
  color: white !important;
  cursor: url('hand.png'), pointer;
}

.hidden {
  display: none;
}

.new-page-canvas {
  position: absolute;
  animation: fadeIn 04s forwards;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 2;
}
.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  max-width: 60%;
  gap: 20px;
  z-index: 3; 
}
.page-links:hover{
  transform: scale(1.3);
  cursor: url('hand.png'), pointer;
}

.music-overlay {
  opacity: 0;
  animation: fadeIn 1s forwards;
  position: fixed;
  border-radius:30px;
  margin-top:4%;
  margin-bottom:4%;
  margin-left:4%; 
  width: 92%;
  height: 92%;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  overflow-y: auto;
}

.close-button {
  position: absolute;
  top: 5vh;
  right: 5vw;
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: url('hand.png'), pointer;
}
.all-bandcamp{
  cursor: url('handDark.png'), pointer;
  color: #1da0c3;
}
.all-spotify{
  cursor: url('handDark.png'), pointer;
  color: #24d760;
}

.all-apple{
  cursor: url('handDark.png'), pointer;
  color: #fa3850
}
.video-close-button{
  position: absolute;
  top: 5vh;
  right: 5vw;
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: url('hand.png'), pointer;
}
.flex-container-right {
  
  padding-right: 5vh;
  padding-left: 1%;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 10vh;
  z-index: 3;
  max-width: 40%;
  max-height: 90vh;
  opacity: 0;
  animation: fadeIn 4s forwards;
  color: #bdc3c7;
  font-weight: 700;
  text-align: right;
  position: relative;
}

.page-links {
  font-size: calc(min(4vh, 4vw) + .25vw);
  display: block;           /* Ensure it behaves as a block-level element */
  white-space: nowrap;      /* Prevent contents from wrapping */
  width: 100%; 
  color: white;             /* Ensure it takes up the maximum width of the parent */     /* Existing style */
  margin-top: 0;            /* Existing style */
  padding-top: 0;           /* Existing style */
  transition: transform 0.5s; /* Existing style */
}

.face-container {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  animation: fadeIn 3s forwards;
  position: relative; /* If needed, but avoid absolute */
  z-index:6;
  color: white;
  font-size: calc(min(1.75vh, 2vw) + .25vw);
  font-weight: 700;
}

.face-container:hover{
  cursor: url('hand.png'), pointer;
}
.second-new-page{
  z-index:6;
}
.second-new-page-particles-canvas {
  opacity: 1;
  transition: opacity 1.4s ease-out;
  z-index:1
}

.second-new-page-particles-canvas.fade-out-canvas {
  opacity: 0;
}

.fade-out-canvas {
  animation: fadeOut 1.5s forwards;
}

@keyframes fadeOut {
  to {
      opacity: 0;
  }
}


.header-text {
  position: absolute;
  opacity: 0;
  animation: fadeIn 3s forwards;
  max-width: 100%;
  margin-left: 5vh;
  margin-top:14vh;
  z-index: 2;
  color: #bdc3c7;
  font-size: calc(min(19.25vh, 13.75vw) + 1.5vw);
  font-weight: 700;
  text-align: center;
  overflow-wrap: break-word;
}

.header-text-2 {
  position: absolute;
  max-width: 100%;
  opacity: 0;
  animation: fadeIn 3s forwards;
  margin-top: 32vh;
  margin-left: 5vh;
  z-index: 2;
  color: #bdc3c7;
  font-size: calc(min(26.25vh, 18.75vw) + 3.25vw);
  font-weight: 700;
  text-align: center;
  overflow-wrap: break-word;
}

@media (max-width: 768px) {
  .header-text {
    margin-top: 20vh;
  }
  .header-text-2{
    margin-top: 30vh;
  }
  .flex-container-right{
    padding-right:0vh;
    gap: 3vh;
  }
}
@media (min-width: 1920px) and (min-height: 1080px) {
  .header-text {
    font-size: min(562.5px, 312.5px);
  }

  .header-text-2 {
    font-size: min(750px, 437.5px);
  }
}

.description-text {
  position: absolute;
  opacity: 0;
  animation: fadeIn 3s forwards;
  right: 0;
  bottom: 0;
  width: auto;
  margin-bottom: 13vh;
  margin-right: 5vh;
  z-index: 4;
  color: #395478;
  font-size: calc(4.95vh + 0.6375vw);
  text-align: right;
}


.dark-mode .description-text {
  color: #bdc3c7;
}
.new-page-description {

  max-width: 100%; /* Ensure it doesn't occupy the entire row. Adjust as necessary */
  max-height: 90vh; /* Set a maximum height for the container. You can adjust this as per your design */
  opacity: 0;
  animation: fadeIn 4s forwards;
  color: #bdc3c7;
  font-size: calc(min(1.75vh, 1.75vw) + .25vw);
  font-weight: 700;
  text-align: left;
  z-index: 2;
  overflow-wrap: break-word;
  overflow-y: auto; /* Add vertical scrolling if content exceeds the max-height */
  position: relative; /* If needed, but avoid absolute */
}


@media (min-width: 1920px) {
  .description-text {
    font-size: 172.125px;
  }
}

@media (min-height: 1080px) {
  .description-text {
    font-size: min(65.025px, calc(5.95vh + 0.6375vw));
  }
}
.photo-text {

}
.photo-card {
  opacity: 0;
  animation: fadeIn 1s forwards;
  position: fixed; /* Use fixed positioning for the card */
  top: 50%; /* Center the card vertically */
  left: 50%; /* Center the card horizontally */
  transform: translate(-50%, -50%); /* Necessary for centering */
  background-color: transparent; /* Adjust color as needed */
  padding: 20px; /* Adjust padding as needed */
  z-index: 10; /* Positioning above other elements */

}

.photo-card img {
  width: 80%; /* reduce to 80% of its container's width */
  height: auto; /* maintain the aspect ratio */
  margin: 0 auto; /* center the image horizontally */
  display: block; /* make sure the image is a block element for margin to work */
  border-radius:1vw;}


.new-page-layout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  z-index: 3;
  margin-right: 2vw;
  margin-left: 5vw;
  margin-top: 19vh;
}

/* NEW PAGE MOBILE */
@media (max-width: 756px) {
  .new-page-layout {
    margin-top: 100px;
    flex-direction: column;
    align-items: center;
    max-height: calc(100vh - 100px);
  }
  .flex-container {
    max-width: 100%;
    margin-right: 2vw;
  }
  .new-page-description,  {
    font-size: calc(min(2vh, 2vw) + .25vw);
  }
  .flex-container-right{
    max-width: 100%;
  }
  .flex-container-right, .page-links {
    flex-direction: row;
    text-align: center;
    align-items: center;
    padding-top: 4vw;
    margin-right:calc(min(2vh, 2vw) + .25vw);
    font-size: calc(min(2vh, 2vw) + .25vw);
  }
}

.App.hidden {
  visibility: hidden;
  pointer-events: none; /* Prevent interaction with hidden elements */
}
.App,
.new-page {
  position: absolute;
  width: 100%;
  height: 100vh;
  transition: transform 0.5s ease-in-out; /* Transition effect */
  transform: translateY(0); /* Initial position */
  z-index: 1; /* Add this line */
  cursor: url('cursor.png'), auto;
}

.new-page {
  opacity: 0;
  animation: fadeIn 3s forwards;
  z-index: 2; /* Add this line */
  transform: translateY(100%); /* Initial position: move it off the screen */
}

.new-page.slide-up {
  opacity: 0;
  animation: fadeIn 3s forwards;
  transform: translateY(0); /* Slide-up position: move it back to cover the screen */
}

.new-page-overlay {
  position: fixed; /* Fixed positioning to cover the viewport */
  opacity: 0;
  animation: fadeIn 3s forwards;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); /* Dark with 70% opacity */
  z-index: 2; /* Ensure it's above most other elements */
}

@font-face {
  font-family: 'Elianto';
  src: url('/Fonts/Elianto-Regular.woff') format('woff');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Elianto';
  src: url('/Fonts/Elianto-Regular.ttg') format('trutype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
@keyframes fadeLogo {
  0%, 100% { opacity: 1; }
  10% { opacity: 0.1; }
}
.background-canvas {
  position: absolute;
  opacity: 1;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1; /* Lowest z-index */
}
.particles-canvas {
  opacity: 0;
  animation: fadeIn 0.5s forwards;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}

.overlay {
  opacity: 0;
  animation: fadeIn 0.5s forwards;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-in-out, visibility 0.3s ease-in-out;
  z-index: 4;
}

.App.menu-open .overlay,
.menu-open .overlay {
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 1;
  visibility: visible;
}

.App.menu-open .nav-links-dropdown {
  opacity: 0;
  animation: fadeIn 1s forwards;
  visibility: visible;
}

.nav-links-dropdown a {
  color: white;
  text-decoration: none;
  padding: 10px;
}

.hamburger-container {
  position: absolute;
  flex: 0 0 auto;
  right: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hamburger-menu {
  cursor: url('hand.png'), pointer;
  flex-shrink: 0;
  font-size: 30px;
  display: block;
  margin: 0;
  padding: 0;
  text-align: center;
  color: white;
}
.hidden {
  display: none;
}
.nav-links-dropdown {
  position: absolute; /* Positioning relative to the container */
  top: 100%; /* Positioning just below the hamburger menu */
  font-size: 5vh;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  opacity: 0;
  visibility: hidden;
  gap: 10px;
  top: 100px;
  margin: 0;
  padding: 0;
  text-align: center;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}
.nav-item{
  cursor: url('hand.png'), pointer;
}
.navbar {
  position: absolute;
  justify-content: space-between;
  top: 40px;
  left: 0;
  width: 100%;
  height: 30px;
  background: transparent;
  display: flex;
  flex: 3;
  align-items: center;
  z-index: 4;
}

.logo-container {
  flex: 1;
  display: flex;

  justify-content: center;
  align-items: center;
}

.navbar-logo {
  cursor: url('hand.png'), pointer;
  height: 40px;
  animation: fadeLogo 7s linear infinite;
  padding-right:5vw;
}

.upper-right{
  border: 1px solid;
  cursor: url('hand.png'), pointer;
  dispplay: flex;
  flex-direction: row;
  align-items: center;
}
.language-buttons {
  z-index:4;
  position: absolute;
  display: flex;
  align-items: center;
  gap: 2vw;  /* Adjust the gap between the buttons as needed */
  right:0;
  margin-right: 10vw;
  font-size: 1.2vw;
  
}
.language-en, .language-de, .language-fa{
  background-color: transparent;
  text-decoration: none;
  border:none;
  color: white;
  cursor: url('hand.png'), pointer;

}
.nav-item-toggle-button {
  flex-shrink: 0;
  color: white;
  padding-left: 5%;
  cursor: url('hand.png'), pointer;
  font-size: 20px;
  font-weight: bold;
}
.arrow-button {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  cursor: url('hand.png'), pointer;
  font-size: 40px;
  background: transparent;
  border: none;
  color: white;
  outline: none;
  z-index: 4;
  cursor: url('hand.png'), pointer;
  animation: fadeLogo 1s linear infinite;
}

.arrow-text{
  font-size: calc(min(1vh, 1vw) + .25vw);;
  font-family:"Elianto";
  z-index:4;
}
@media (max-width: 768px) {
  .navbar-logo {
    height: 30px; /* Reduce the size of the logo */
  }

  .hamburger-menu {
    font-size: 20px; /* Reduce the size of the hamburger menu icon */
  }

  .nav-item-toggle-button {
    font-size: 15px; /* Reduce the size of the toggle icon */
  }

  .nav-links-dropdown a {
    font-size: 20px; /* Reduce the size of the logos in the dropdown menu */
  }
  .language-buttons {
    font-size: 10px;
    padding-right: 20px;
    gap: 20px;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from{
    opacity: 1;
  }
  to{
    opacity: 0;
  }
}

