.page-container {
  position: relative;
  overflow: hidden;
  height: 100vh;
}

.hidden {
  display: none;
}

.new-page-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 2; /* Ensure it's above the main page canvas */
}

.App.hidden {
  visibility: hidden;
  pointer-events: none; /* Prevent interaction with hidden elements */
}
.App,
.new-page {
  position: absolute;
  width: 100%;
  height: 100vh;
  transition: transform 0.5s ease-in-out; /* Transition effect */
  transform: translateY(0); /* Initial position */
  z-index: 1; /* Add this line */
  cursor: url('cursor.png'), auto;
}

.new-page {
  z-index: 2; /* Add this line */
  transform: translateY(100%); /* Initial position: move it off the screen */
}

.new-page.slide-up {
  transform: translateY(0); /* Slide-up position: move it back to cover the screen */
}

@font-face {
  font-family: 'Dosis';
  src: url('./fonts/Dosis-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@keyframes fadeLogo {
  0%, 100% { opacity: 1; }
  10% { opacity: 0.1; }
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-in-out, visibility 0.3s ease-in-out;
  z-index: 2;
}

.App.menu-open .overlay,
.menu-open .overlay {
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 1;
  visibility: visible;
}

.App.menu-open .nav-links-dropdown {
  opacity: 1;
  visibility: visible;
}

.nav-links-dropdown a {
  color: white;
  text-decoration: none;
  padding: 10px;
}

.hamburger-container {
  position: absolute;
  right: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hamburger-menu {
  cursor: url('hand.png'), pointer;
  flex-shrink: 0;
  font-size: 30px;
  display: block;
  margin: 0;
  padding: 0;
  text-align: center;
}

.nav-links-dropdown {
  position: absolute; /* Positioning relative to the container */
  top: 100%; /* Positioning just below the hamburger menu */
  font-size: 30px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  opacity: 0;
  visibility: hidden;
  gap: 10px;
  top: 100px;
  margin: 0;
  padding: 0;
  text-align: center;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}
.nav-item{
  cursor: url('hand.png'), pointer;
}
.navbar {
  position: absolute;
  justify-content: space-between;
  top: 40px;
  left: 0;
  width: 100%;
  height: 30px;
  background: transparent;
  display: flex;
  flex: 3;
  align-items: center;
  z-index: 2;
}

.logo-container {
  flex: 1;
  display: flex;
  padding-right: 5%;
  justify-content: center;
  align-items: center;
}

.navbar-logo {
  cursor: url('hand.png'), pointer;
  height: 40px;
  animation: fadeLogo 7s linear infinite;
}

.nav-item-toggle-button {
  flex-shrink: 0;
  color: white;
  padding-left: 5%;
  cursor: url('hand.png'), pointer;
  font-size: 20px;
  font-weight: bold;
}
.arrow-button {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  cursor: url('hand.png'), pointer;
  font-size: 40px;
  background: transparent;
  border: none;
  color: white;
  outline: none;
  z-index: 2;
  animation: fadeLogo 1s linear infinite;
}
@media (max-width: 768px) {
  .navbar-logo {
    height: 30px; /* Reduce the size of the logo */
  }

  .hamburger-menu {
    font-size: 20px; /* Reduce the size of the hamburger menu icon */
  }

  .nav-item-toggle-button {
    font-size: 15px; /* Reduce the size of the toggle icon */
  }

  .nav-links-dropdown a {
    font-size: 20px; /* Reduce the size of the logos in the dropdown menu */
  }
}
