.App {
  font-family: 'Dosis', sans-serif;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

@font-face {
  font-family: 'Dosis';
  src: url('./fonts/Dosis-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@keyframes fadeLogo {
  0%, 100% { opacity: 1; }
  10% { opacity: 0.1; }
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  opacity: 0;
  visibility: hidden;
  transition: opacity 2s ease-in-out, visibility 0.3s ease-in-out;
  z-index: 2;
}
.App.menu-open .overlay {
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 1;
  visibility: visible;
}

.App.menu-open .nav-links-dropdown {
  opacity: 1;
  visibility: visible;
  transform: translateY(0); /* Add this line */
}
.menu-open .overlay {
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 1;
  visibility: visible;
}

.nav-links-dropdown {
  position: absolute;
  font-size: 30px;
  margin-right: 2.5%;
  top: 100px;
  right: 0%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  opacity: 0;
  visibility: hidden;
  z-index: 3;
  gap: 10px;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  transform: translateY(-100%); /* Add this line */
}

.menu-open .nav-links-dropdown {
  opacity: 1;
  visibility: visible;
}

.nav-links-dropdown a {
  color: white;
  text-decoration: none;
  padding: 10px;
}

.hamburger-menu {
  margin-right: 5%;
  flex-shrink: 0;
  cursor: pointer;
  font-size: 30px;
  display: none;
}

@media (max-width: 768px) {
  .nav-items {
    display: none;
  }

  .hamburger-menu {
    display: block;
  }
}

.navbar {
  position: absolute;
  justify-content: space-between;
  top: 40px;
  left: 0;
  width: 100%;
  height: 30px;
  background: transparent;
  display: flex;
  flex: 3;
  align-items: center;
  z-index: 2;
}

.logo-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-logo {
  height: 40px;
  animation: fadeLogo 7s linear infinite;
}

.nav-links {
  display: flex;
  flex-shrink: 0;
  margin-left: auto;
  gap: 40px;
  color: white;
  padding: 0;
  cursor: pointer;
  font-size: 18px;
  padding-right: 5%;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

.nav-item-toggle-button {
  flex-shrink: 0;
  color: white;
  padding-left: 5%;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
}
